body {
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}
canvas {
    margin: 0 auto;
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;            
    image-rendering: crisp-edges;               
    -ms-interpolation-mode: nearest-neighbor;   
}
#wrapper {
    width: 100%;
    position: relative;
    color: white;
    line-height: 256px;
    display: block;
    top: -468px;
    font-size: 10px;
}
#playerSelect {
    background: rgba(0, 0, 0, 0.5);
    width: 512px;
    margin: 0 auto;
    height: 448px;
}
#buttons {
    position: relative;
    top: -200px;
}
#playerName {
    text-align: center;
    font-weight: bold;
}
#online {
    position: relative;
    top: -20px;
    font-size: 14px;
}
.hidden {
    display: none;
}